@font-face {
    font-family: 'PassionOne';
    src: url(polices/PassionOne-Regular.ttf);
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
    font-family: 'PassionOne';
}

.textcard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'PassionOne';
    font-size: x-large;
    height: 30px;
}

#images {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}


.stylebordure{
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}