.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
}

#Londres {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}

#Paris {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}

#Berlin {
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;

}

.stylebordure{
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}