@font-face {
    font-family: 'PassionOne';
    src: url(polices/PassionOne-Regular.ttf);
}

html {
    max-width: fit-content;
}

header { /** Taille Header, flexbox, placement au premier plan fixe et position devant **/
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 0px;
    background-color: white;
    z-index: 99;
    position: sticky;
    top: 0;
}

.Boxlien { /** Taille des flexboxs contenant les liens et alignement **/
    width: 20%;
    text-align: center;
}



a { /** Lien du haut en Gris sombre**/
    text-decoration: none;
    font-family: 'PassionOne';
    color: black;
    opacity: 0.7;
    font-size: x-large;
}

a:hover { /** Lien du haut en noir et souligné quand on passe la souris dessus **/
    text-decoration: underline;
    font-family: 'PassionOne';
    color: black;
    opacity: 1;
    font-size: x-large;
}

#bannieresite { /** Taille de la bannière et placement en arrière plan**/
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -99;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

#Londres {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}

#Paris {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}

#Berlin {
    max-width: 30%;
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;

}

.stylebordure{
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}