@font-face {
    font-family: passion;
    src: url(/polices/PassionOne-Regular.ttf);
}


#carte1 , #carte2 , #carte3 {
    width: 300px;
    
    background-color: white;
    text-align: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: inline-block;
    padding: 20px;
  }

#carte2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#carte3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#carte3 img{
  width: 2px;
  height: 2px;
  background-color: red;
}

  body {
    background-color: black;
    display: flex;
  }

  input[type="text"] {
  width: 50%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  text-align: center;
  border-radius: 10% 10% 10% 10% / 30%;
  font-family: passion;
}

h3{
    font-family: passion;
}


h2{
  font-family: passion;
  font-size: medium;
}

.distance {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.section {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
}