  @font-face {
    font-family: 'PassionOne';
    src: url(polices/PassionOne-Regular.ttf);
}
    
   

  
.container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
    width: 50%;
    margin-right: 500px;
    margin-left: 500px;
    padding: 50px;
    font-family: 'PassionOne';
    display: flex ;
    flex-direction: column;
}  

h2,
h3,
h6,
.h2,
.h3,
.h6 {
  font-family: 'PassionOne';
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: .5rem;
  color: #000000;
}

h1 {
  font-family: 'PassionOne';
  font-weight: 800px;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
  margin-top: 50px;
}

.card-body {
  align-items: center;
  justify-content: center;
}


