@font-face {
    font-family: 'PassionOne';
    src: url(SlowTourisme/header/PassionOne-Regular.ttf);
}

h2{
    font-family: 'PassionOne';
    font-size: x-large;
    color: black;
    opacity: 0.7;
}

h3{
    font-family: 'PassionOne';
    font-size: large;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
}

#Boxslowtourisme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slowimage{
    width: 40%;
    justify-content: center;
}

#citation{
    font-family: 'PassionOne';
    font-size: large;
    color: black;
    opacity: 0.7;
}

p{
    font-family: 'PassionOne';
    font-size: small;
    color: black;
    opacity: 0.7;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

#Boxexplication{
    display: flex;
    justify-content: center;
}

#Explication{
    width: 50%;
    justify-content: center;
}

.stylebordure{
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}