@font-face {
    font-family: 'PassionOne';
    src: url(SlowTourisme/header/PassionOne-Regular.ttf);
}

#slowbackground{
    width: 100%;
}

#boxprendretemps{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -900px;
   
}

#prendretemps{
    display: flex;
    height: 150px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'PassionOne';
    color: black;
    opacity: 0.7;
    font-size: xx-large;
}

.stylebordure{
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}