@font-face {
    font-family:'PassionOne';
    src: url(/polices/PassionOne-Regular.ttf);
}

footer{
    background-color: black;
    opacity: 0.7;
    color: white;
    max-height: fit-content;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'PassionOne';
    padding-bottom: 5px;
}

h2{
    font-family:'PassionOne';
}

a:hover{
    text-decoration: underline;
}

#footertop {
    display: flex;
    justify-content: space-around;
}

#Entreprise{
    display: flex;
    flex-direction: column;
}

#Contact{
    display: flex;
    flex-direction: column;
}

#Plus{
    display: flex;
    flex-direction: column;
}

#footerbottom {
    display: flex;
    justify-content: center;
}