#bandetop{
    display: flex;
    justify-content: center;
}

#prendretemps{
    display: flex;
    height: 50px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.stylebordure{
    box-shadow: rgba(0, 0, 0, 0.40) 1.5px 3px 3px 3px;
    border-radius: 10px;
}